<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="/css/my.css"/>
    <title>注册</title>
</head>
<body>
<div class="wrap">
        <img src="../../image/img.png" class="imgStyle">
    <div class="loginForm">
        <div align="center">
            <br><br><br><h2>注册</h2><br><br><br>
        </div>
        <div id="form-style" align="center">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="account" id="account" lay-verify="title" autocomplete="off"
                               placeholder="请输入用户名" class="layui-input"/>
                    </div>
                </div><br>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" id="password" placeholder="请输入密码"
                               autocomplete="off" class="layui-input"/>
                    </div>
                </div><br>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="repassword" id="repassword" placeholder="请再次输入密码"
                               autocomplete="off" class="layui-input"/>
                    </div>
                </div><br>
                <div class="layui-form-item">
                    <div class="layui-input-block" align="left">
                        <button class="layui-btn" style="margin-left: 10px" lay-submit lay-filter="login">
                            注册
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
                    </div>
                </div>
        </div>
    </div>

</div>
<script src="/layui/layui.js" type="text/javascript"></script>
<script type="text/javascript">
    layui.use(['jquery', 'layer', 'form'], function () {
        var $ = layui.$;
        var layer = layui.layer;
        var form = layui.form;

        $('#reset').click(function () {
            $('#account').val("");
            $('#password').val("");
            $('#repassword').val("");
        });

        form.on('submit(login)', function (data) {
            var account = $("#account").val();
            var password = $('#password').val();
            var repassword = $('#repassword').val();
            if(account.length==0||password.length==0||repassword.length==0){
                alert("用户名或密码不能为空！")
            }else if (password!=repassword){
                alert("密码不一致！")
                }else {
                $.ajax({
                    type: "POST",
                    url: "/user/isregister?account="+account+"&password="+password,
                    dataType: "json",
                    contentType: "application/json",
                    data: {},
                    success: function (obj) {
                        window.location.href="/";
                        alert("注册成功！")
                    },error:function (obj){
                        alert("注册失败，请重新注册！");
                    }
                });
            }
        });
    })
</script>

</body>
</html>